ion-col.center {
    text-align: center;
}

img.img-diged {
    height: 63px;
    padding-left: 10%;
}

.mainSlide, .mainSlide{
    width: 100%;
    background-image: white; 
    margin-bottom: auto;
}

ion-list {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: transparent;
}

ion-item {
    background-color: transparent;
}

ion-label {
    background-color: transparent;
    font-size: small;
}

.left{
    text-align: left;
    padding-top: 10px;
}

ion-grid {
    padding-top: 20px;
    padding-bottom: 20px;
}
